/* IMPORT GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#book-your-vacation {
	margin-top: 150px; 
	text-align: center;
	color: #623e2a;
    margin-bottom: 50px;
    font-family: 'Playfair Display', serif;
}

.gallery-title {
	margin-top: 2%;
	margin-left: 5%;
	color: black;
	font-family: 'Playfair Display', serif;
	font-size: 20pt;
}

.card {
    background-color: #efebe5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: fit-content;
    margin:5px;
}

.card-title {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    text-align: center;
    font-size: 12pt;
    color: black;
}

.card-content {
    padding: 2px 2px;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)
}

.roomImg {
    width: 300px;
    height: auto;
    display: flex;
    margin: auto;
    text-align: center;
    align-content: center;
}

figure {
    text-align: center;
}

#rooms {
	margin-left: auto;
	margin-right: auto;
    background-color:#efebe5;
    width: 100%;
    display: flex;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20%;
    grid-area: auto;
    text-align: center;
    flex-wrap: wrap;
}

#amenities {
    margin-left: auto;
	margin-right: auto;
    background-color:#efebe5;
    width: 100%;
    display: flex;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20%;
    grid-area: auto;
    text-align: center;
    flex-wrap: wrap;
}

.amenityImg {
    width: 300px;
    height: auto;
    display: flex;
    text-align: center;
    align-content: center;
}

.top {
    margin-top: 5%;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    color: black;
    font-size: 20pt;
    
  }
  
  #bookingFormTitle {
    margin-top: 5%;
  	margin-left: 5%;
  }
  
  #bookingForm {
  	margin-left: 5%;
  	margin-bottom: 300px;
  }
  
  td{
    margin: 5px 5px 5px 0px;
    }
