.container {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	padding-bottom: 200px;
	transform: translate(-50%, -50%);
}

.wrapper {
    width: 100%;
    height: auto;
    overflow-wrap: normal;
    overflow-x: hidden;
    margin: 0;

}


/*********** header, logo, & navigation ***********/
#header {
	top: 0;
	margin: 0px 0px 0px 0px;
	background-color: white;
	color: #0D0D0D;
	text-align: center;
	position: fixed;
	display: flex;
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: auto auto auto;
	z-index: 10;
	
}

#header-logo a {
	float: left;
	width: 200px;
	height: 101px;
}

#header-logo a:hover {
	background-color: #623e2a;
	color: #f4f1ed;
}

#header-logo a:active {
	background-color: #623e2a;
	color: #f4f1ed;
}

#header-logo img {
	float: left;
	width: 200px;
	height: 101px;
	margin-left: 0px;
	padding-left: 0px;
}

#navbar {
	padding-right: 25px;
	width: 100%;
	height: 92px;
	background-color: #ffffff;
	font-size: 12pt;
	float: right;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	vertical-align: middle;
}

#navbar a {
	margin: 20px 0px;
	background-color: #f4f1ed;
	color: #623e2a;
	text-align: center;
	padding: 15px 2%;
	text-decoration: none;
	display: inline-block;
}

#navbar a:hover {
	background-color: #623e2a;
	color: #f4f1ed;
}

#navbar a:active {
	background-color: #623e2a;
	color: #f4f1ed;
}

/*********** footer ***********/
#footer {
	background-color: #ffffff;
	font-size: 12pt;
	width: 100%;
	height: 200px;
	color: black;
	text-align: center;
	margin-bottom: 0px;
	margin-top: auto;
	display: block;
	position: absolute;
	bottom: 0;
	z-index: 10;
	
	
}

#footer-content {
	top: 50%;
	bottom: 50%;
	background-color: #ffffff;
	display: grid;
	justify-content: center;
	grid-template-columns: auto auto auto;
	grid-area: auto;
	text-align: center;
	
}

.footer-column {
	top: 50%;
	bottom: 50%;
	margin-left: 100px;
	margin-right: 100px;
}

.footer-column p {
	color: #000000;
	font-weight: 400;
	font-size: 20px;
	text-align: center;
}

.footer-column a {
	color: #000000;
	text-align: center;
	text-decoration: underline;
}

.footer-column a:hover {
	background-color: #623e2a;
	color: #f4f1ed;
}

.footer-column a:active {
	background-color: #623e2a;
	color: #f4f1ed;
}

#footer-logo img {
	margin-top: 20%;
	width: 200px;
	height: 101px;
}

/*********** body ***********/

body {
	margin: 0px;
	padding:0px;
	font-family: Verdana, Arial;
	background-color: #efebe5;
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	
}

.center {
	text-align: center;
}

/*********** buttons ***********/
button {
	background-color: #ffffff;
	width: 300px;
	color: #623e2a;
	border: none;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
}

button:hover {
	background-color: #623e2a;
	color: #f4f1ed;
}

.button:active {
	background-color: #623e2a;
	color: #f4f1ed;
}

.button {
	background-color: #ffffff;
	width: 300px;
	color: #623e2a;
	border: none;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
}

.button:hover {
	background-color: #623e2a;
	color: #f4f1ed;
}

.provisio-row-3{
	column-count: 3;
	column-gap: 125px;
	display: flex;
}

.provisio-row-2{
	column-count: 2;
	column-gap: 50px;
	display: flex;
}

.gallery-title {
	color:#623e2a;
	font-size: 12px;
	
}

.heading{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
    font-family: 'Playfair Display', serif;
    color: #623e2a;
}
